.Category{
    height: 50px;
    width: 300px;
    border-radius: 10px;
    background: lightgray;
    /* display: flex; */
    justify-content: space-around;
    /* align-items: center; */
    margin-top: 10px;
}



.Category-link{
    text-decoration: none;

   
}